# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Entorno virtual
venv/
.venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Secretos
.env
*.env

# Cobertura / tests
.coverage
htmlcov/
.pytest_cache/
coverage.xml

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Distribución
*.egg-info/
dist/
build/
